{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}
{% block content %}
        <div class="postForm">
        <h3>Please create a profile to rent or post items for rent!</h3>

{#    <form method="POST" action=".">#}
{#        {{ form.as_p }}#}
{##}
{#        <input type="submit" value="Submit">#}
{#    </form>#}
        <form method="post" action="/register/">
                    {% csrf_token %}

        <p><label for="id_username"></label> <input id="id_username" maxlength="10" name="username" placeholder="Username" type="text" /></p>
<p><label for="id_email"></label> <input id="id_email" name="email" placeholder="your@gmail.com" type="text" /></p>
<p><label for="id_password1">Password:</label> <input id="id_password1" name="password1" type="password" /></p>
<p><label for="id_password2">Password confirmation:</label> <input id="id_password2" name="password2" type="password" /></p>
<p><label for="id_first_name">First name:</label> <input id="id_first_name" maxlength="30" name="first_name" placeholder="First Name" type="text" /></p>
<p><label for="id_last_name">Last name:</label> <input id="id_last_name" maxlength="30" name="last_name" placeholder="Last Name" type="text" /></p>
<p><label for="id_phone">Phone:</label> <input id="id_phone" maxlength="12" name="phone" placeholder="415-555-1111" type="text" /></p>

        <input  class="btn-default btn-lg btn" type="submit" value="Submit">
    </form>
        </div>
{% endblock %}
<form method="post" action="/register/">
        <p><label for="id_username">Username:</label> <input id="id_username" maxlength="10" name="username" placeholder="Username" type="text" /></p>
<p><label for="id_email"></label> <input id="id_email" name="email" placeholder="your@gmail.com" type="text" /></p>
<p><label for="id_password1">Password:</label> <input id="id_password1" name="password1" type="password" /></p>
<p><label for="id_password2">Password confirmation:</label> <input id="id_password2" name="password2" type="password" /></p>
<p><label for="id_first_name">First name:</label> <input id="id_first_name" maxlength="30" name="first_name" placeholder="First Name" type="text" /></p>
<p><label for="id_last_name">Last name:</label> <input id="id_last_name" maxlength="30" name="last_name" placeholder="Last Name" type="text" /></p>
<p><label for="id_phone">Phone:</label> <input id="id_phone" maxlength="12" name="phone" placeholder="415-555-1111" type="text" /></p>

        <input type="submit" value="Submit">
    </form>