{% extends 'base2.html' %}


{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}

   <h1> Careers</h1>
    <h2>We are currently looking for rockstar developer's </h2>
    <h3> Django/Angular/ Jquery Ninja's</h3>
    <p> Must love working incredibly long hours</p>
    <p>Competitive Equity </p>
    <p>San Francisco, CA</p>

    <ul class="list-inline banner-social-buttons">
                    <li><a href="mailto:travis6888@yahoo.com" class="btn btn-default btn-lg"> <span class="network-name">Careers</span></a>
                    </li>


{% endblock %}