{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h1>HobbySwap</h1>
        <h4>The best way to find new hobbies and put your unused items to work for you</h4>
    <h5>Search Hobbies to Rent Today!</h5>
    <input width="30px" height="27px" placeholder="Search for toys"><button class="btn btn-default btn-lg">Search</button>


{% endblock %}
{% block content1 %}

    <a href="{% url 'about' %}" class="btn btn-default btn-lg">Learn more</a>
{% endblock %}

{% block content2 %}
    <h2> Postings </h2>
    <p>Experience new hobbies without the major upfront costs</p>

    <a href="{% url 'listing' %}" class="btn btn-default btn-lg">View Postings</a>

{% endblock content2 %}
{% block content3 %}
    <h2>Post a hobby to rent or swap!</h2>
    <p> Put that toy that is sitting in the garage to work for you!<p>
    <a href="{% url 'post_item' %}" class="btn btn-default btn-lg">Post!</a>

{% endblock content3 %}