{% extends "base2.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}
{%  block content %}
<p>Hi {{ request.user.username }}</p>
    <p>Last login time:  {{ user.last_login }}</p>
    <p> Date joined: {{ user.date_joined|timesince }} ago</p>
    <p>Your email address is {{ user.email }}</p>
    <p>Your first name is {{ user.first_name }}</p>
    <p>Your last  name is {{ user.last_name }}</p>

<ul class="list-inline banner-social-buttons">
                    <li><a href="{% url 'messages_inbox' %}" class="btn btn-default btn-lg"> <span class="network-name">Messages</span></a>
                    </li>
                    <li><a href="{% url 'edit_user' user_id %}" class="btn btn-default btn-lg"> <span class="network-name">Edit Profile</span></a>
                    </li>
</ul>
{%  endblock content %}