{% extends 'base.html' %}
{% block content1 %}

                <h2>About HobbySwap </h2>
                <p> Do you have a bunch of unused items around the house? A snowboard, bike, or someother hobby related item? </p>
                <p>HobbySwap is here to solve your problem. We are a platform where people can post their items for rent!</p>
                <p>We also make it easy to find and try new hobbies. Honestly hobbies are expensive and most of the time our items just sit.Therefore it is best to </p>
 {% endblock content1 %}