<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HobbySwap</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->

    <link href='{% static "css/grayscale.css" %}' rel="stylesheet">
            <link href='{% static "css/match.css" %}' rel="stylesheet">


    <!-- Custom Fonts -->
    <link href='{% static "font-awesome-4.1.0/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <span class="light">HobbySwap</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">FAQ</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Listings</a>
                </li>
                <li>
                    <a class="" href="{% url 'post_item' %}">Post</a>
                </li>


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading hobbyTitle">HobbySwap</h1>

                    <p class="intro-text">Make money renting your hobby items<br>or find new hobbies to try</p>

                    <input placeholder="Surfboard, Jetski, etc" class="input-lg hobbySearchInput">
                    <button class="btn btn-default btn-lg searchBTN">Search Now</button>
                    <br>
                    <div class="searchResults">

                    </div>
                    <button class="btn btn-lg btn-default landingMoreBtn"><a href="#about"
                                                                             class="btn btn-lg page-scroll">
                        More
                    </a></button>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About HobbySwap</h2>
            <div class="about">

            <p>HobbySwap was born with idea that owners of expensive hobbies shouldn't let them sit for 98% of their
                ownership. Also the barrier for people to try new hobbies should be low. HobbySwap creates a marketplace
                where
                owners can post their hobbies for rent and users can find hobbies near them for rent. Browse our
                featured listings and find something new and fun to do!</p>

            </div>
            <a href="#download" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>FAQS</h3>

                <p>

                    <button class="btn btn-default btn-lg ownerBtn"> Owner's</button>

                    <button class="btn-default btn btn-lg renterBtn"> Renter's</button>
                </p>
                <div class="renterAbout">
                                        <h3>Renter FAQ</h3>

                    <p>How much does it cost?</p><p>The price of the rental is based on the owner's input.
                        The daily insurance cost is done by our team. Together we believe that these costs give great
                        benefit to the renter and the owner. A renter is able to rent an expensive hobby item for much
                        cheaper.
                        Also, if the renter buys the daily insurance rate the renter is able to rent without a major
                        worry of damaging the item.
                    </p>

                    <p>
                        Do I need to have a license to rent the motor vehicles?</p><p> Yes, you need to have a valid drivers
                        license to rent any of the
                        of the motor vehicles. We also offer renter's the ability be a certified renter. For a small fee
                        and after taking a driving test on similar
                        vehicles, a renter will be offered lower daily insurance rates and owners will be more likely to
                        rent to renters.
                    </p>

                </div>
                <div class="ownerAbout">
                    <h3>Owner FAQ</h3>

                    <p>We want to protect our owner's as much as possible. We strive to make renting your items as
                        painless as possible. We offer two great values to owner's!</p>
                    <ul>
                        <li><p>One, we make it very easy to rent and make
                            money!</p></li>
                        <li><p>Second, we want to make the ownership costs lower for our owners!</p></li>
                    </ul>
                    <p>
                        Therefore if you post your items for rent for 2 weeks a month, we offer reduced insurance costs
                        on your items!
                        It gets even better! The more you rent out your items the more money you receive and the cheaper
                        the ownership gets!</p>

                    <p>
                        Wait? What about my items? I don't want them getting damaged! Exactly why we offer the insurance
                        for renter's too. Renter's
                        are offered daily insurance coverage while renting your items. We also hold a deposit in escrow
                        while the items are being rented out.
                        Again our owner's are very important to us and we will do our best to handle any problems that
                        arise.
                    </p>

                </div>

            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Featured Listings</h2>
{% for listing in listings|slice:":3" %}
                <div class="col-md-4">
                    <div class="thumbnail">

                        <div class="class1 text-center">
                            <p>{{ listing.category }}</p>

                            <div class="image">
                                <img class="profile" src="{{ listing.image.url }}" alt="Profile picture" height="75"
                                     width="75">
                            </div>
                            <div class="details">
                                <p><a href="{% url 'view_listing' listing.id %}" class="class-name">{{ listing }}</a>
                                </p>

                                <p class="postBy"> Posted by: {{ listing.post_user }}</p>
                                {#                <p class="short-description">{{ listing.description }}</p>#}
                            </div>
                            <div class="cost">
                                <p><a href="{% url 'view_listing' listing.id %}"
                                      class="cost-button"><strong>${{ listing.price }}</strong> per day</a></p>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
</section>

<!-- Map Section -->
<div class="bottomBtns">
  <ul class="list-inline banner-social-buttons text-center">
                    <li><a href="{% url 'listing' %}" class="btn btn-default btn-lg"> <span class="network-name">Listings</span></a>
                    </li>
<li><a href="{% url 'reviews' %}" class="btn btn-default btn-lg"> <span class="network-name">Reviews</span></a>
                    </li>
      <li><a href="{% url 'register' %}" class="btn btn-default btn-lg"> <span class="network-name">Register</span></a>
                    </li>
    </ul>
</div>
<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; HobbySwap 2014</p>
    </div>
</footer>

<!-- jQuery Version 1.11.0 -->
<script src='{% static "js/jquery-1.11.0.js" %}'></script>

<!-- Bootstrap Core JavaScript -->
<script src='{% static "js/bootstrap.min.js" %}'></script>

<!-- Plugin JavaScript -->
<script src='{% static "js/jquery.easing.min.js" %}'></script>


<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<!-- Custom Theme JavaScript -->
<script src='{% static "js/grayscale.js" %}'></script>
<script src="{% static 'js/hobbyswap.js' %}"></script>


</body>

</html>
