{% extends "base.html" %}

{% block content %}
    <ul class="list-inline banner-social-buttons">
                    <li><a href="{% url 'post_item' %}" class="btn btn-default btn-lg"> <span class="network-name">Post Hobby</span></a>
                    </li>
                    <li><a href="{% url 'category' %}" class="btn btn-default btn-lg"> <span class="network-name">Sort by category</span></a>
                    </li>
    </ul>
    <br>
    <br>
    <br>
    {% for listing in listings %}
        <p style="text-align: center"><a href="{% url "view_listing" listing.id %}"> Item: {{ listing.item }}</a><br>
            Description: {{ listing.description }}</p>
        <br><br>
    {% endfor %}
{% endblock content %}

